---
---

@import "{{ site.theme }}";

body {
	background: #232834;
	color: #ffffff;
}

a {
	color: #ffcc66;
}

.markdown-body .highlight pre, .markdown-body pre {
	background: none;
}

/* Mayukai Mono: https://github.com/GulajavaMinistudio/Mayukai-Theme/blob/master/themes/Mayukai-mono-color-theme.json */
.highlight {
	background-color: #39425488;

	pre { 
		border: none;
		code {
			display: block; 
			white-space: pre; 
			overflow-x: auto; 
			word-wrap: normal;
		}
	}
	
	.lineno {
		color: #cccccc; 
		display: inline-block; 
		padding: 0 5px; 
		border-right: 1px solid #cccccc; 
	}

	.c     { color: #74818f; font-style: italic; } // Comment
	.err   { color: #ff6188; background-color: #1e0010; } // Error
	.k     { color: #9cd1bb; } // Keyword
	.o     { color: #ff6188; font-weight: normal; } // Operator
	.l     { color: #c39ac9; } // Literal
	.n     { color: #cbcebc; } // Name
	.p     { color: #cbcebc; } // Punctuation
	.cm    { color: #74818f; font-style: italic; } // Comment.Multiline
	.cp    { color: #74818f; font-weight: bold; } // Comment.Preproc
	.c1    { color: #74818f; font-style: italic; } // Comment.Single
	.cs    { color: #74818f; font-weight: bold; font-style: italic; } // Comment.Special
	.gd    { background-color: #f29e7426; } // Generic.Deleted
	.gd .x { background-color: #f29e7426; } // Generic.Deleted.Specific
	.ge    { font-style: italic; } // Generic.Emph
	.gr    { color: #ff6188; } // Generic.Error
	.gh    { color: #999999; } // Generic.Heading
	.gi    { background-color: #bae67e26; } // Generic.Inserted
	.gi .x { background-color: #bae67e26; } // Generic.Inserted.Specific
	.go    { color: #888888; } // Generic.Output
	.gp    { color: #555555; } // Generic.Prompt
	.gs    { font-weight: bold; } // Generic.Strong
	.gu    { color: #75715e; } // Generic.Subheading
	.gt    { color: #aa0000; } // Generic.Traceback
	.kc    { color: #9cd1bb; } // Keyword.Constant
	.kd    { color: #9cd1bb; font-weight: normal; font-style: italic; } // Keyword.Declaration
	.kn    { color: #ff6188; } // Keyword.Namespace 
	.kp    { color: #9cd1bb; }    // Keyword.Pseudo 
	.kr    { color: #9cd1bb; font-weight: normal; font-style: italic; }  // Keyword.Reserved
	.kt    { color: #9cd1bb; }  // Keyword.Type
	.m     { color: #9cd1bb; } // Literal.Number
	.s     { color: #a9dc76; } // Literal.String
	.ld    { color: #a9dc76; }  // Literal.Date
	.na    { color: #cbcebc; }  // Name.Attribute
	.nb    { color: #cbcebc; } // Name.Builtin
	.nc    { color: #9cd1bb; } // Name.Class 
	.no    { color: #c39ac9; } // Name.Constant
	// .nd    { } // Name.Decorator
	.ni    { color: #cbcebc; } // Name.Entity
	.ne    { color: #ffd866; } // Name.Exception
	.nf    { color: #ffd866; } // Name.Function
	.nl    { color: #cbcebc; } // Name.Label
	.nn    { color: #cbcebc; } // Name.Namespace
	.nx    { color: #9cd1bb; } // Name.Other
	.py    { color: #cbcebc; } // Name.Property 
	.nt    { color: #ff6188; } // Name.Tag
	.nv    { color: #cbcebc; } // Name.Variable
	.ow    { color: #ff6188; font-weight: bold; } // Operator.Word
	.w     { color: #cbcebc; } // Text.Whitespace
	.mf    { color: #9cd1bb; } // Literal.Number.Float
	.mh    { color: #9cd1bb; } // Literal.Number.Hex
	.mi    { color: #9cd1bb; } // Literal.Number.Integer
	.mo    { color: #9cd1bb; } // Literal.Number.Oct
	.sb    { color: #a9dc76; } // Literal.String.Backtick
	.sc    { color: #a9dc76; } // Literal.String.Char
	.sd    { color: #a9dc76; } // Literal.String.Doc 
	.s2    { color: #a9dc76; } // Literal.String.Double
	.se    { color: #9cd1bb; } // Literal.String.Escape
	.sh    { color: #a9dc76; } // Literal.String.Heredoc
	.si    { color: #a9dc76; } // Literal.String.Interpol
	.sx    { color: #a9dc76; } // Literal.String.Other
	.sr    { color: #a9dc76; } // Literal.String.Regex
	.s1    { color: #a9dc76; } // Literal.String.Single
	.ss    { color: #a9dc76; } // Literal.String.Symbol
	.bp    { color: #cbcebc; } // Name.Builtin.Pseudo
	.vc    { color: #cbcebc; } // Name.Variable.Class
	.vg    { color: #cbcebc; } // Name.Variable.Global
	.vi    { color: #cbcebc; } // Name.Variable.Instance
	.il    { color: #c39ac9; } // Literal.Number.Integer.Long
	.dl    { color: #cbccc6b3; } // quotes or something
}